body{
background-size: 100% 100%;
min-height:100vh;
width:100vw;
background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family:arial;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  row-gap:10px;
  padding: 40px;
}

.grid-item {
  background: rgba(50,50,50,0.35);
 
  padding: 10px 10px;
  
  color: #fff;
  
}

.grid-item h1{
  font-size:1rem;
  background-color: rgba(255,255,255,0.35);
  padding:4px;
}
.grid-item h2{
  font-size:0.85rem;
}
.grid-item p{
  font-size:0.7rem;
}
.grid-item.span-two {
  grid-column: span 2;
}
.grid-item.none{
  background: rgba(0,0,0,0);
  box-shadow:none;
  
}
.contact-item{
  display:inline-block;
  border-radius:10px;
  width:190px;
  padding:3px;
  border:2px solid rgba(255,255,255,0.35);
  
}
.contact-item:hover{
  background-color: rgba(255,255,255,0.35);
  transition: 0.3s;
}

#gh{
  color:#FFF;
  
}
@keyframes fadeInUp {
  from {
    opacity: 0.8;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(15px);
  }
}

.grid-item:hover {
  
  animation: fadeInUp 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
}
